body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #dbe9f4, #f2f4f8);
}

.box {
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

legend {
    color: #333;
    font-size: 34px;
    padding: 10px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    color: #333;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
    color: #888;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: #b56c6c;
}

#submit {
    background-color: transparent;
    border: 1px solid #666;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: #333;
    font-size: 15px;
}

#submit:hover {
    background-color: #89a7b1;
    color: white;
    cursor: pointer;
    transition: .4s;
    padding: .7rem;
    font-size: .9rem;
    border-radius: 6px;
}
